*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-gap: 0;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: grid;
    width: auto;
    height: auto;
    background-image: url(landing.jpg);
    text-align: center;
    padding: 0;
    margin: 0;
    color:white;
}

.header img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: auto;
}

.options{
    display: grid;
    height: 200px;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#imagetext{
    color: white;
    bottom:100px;
    left:70px; 
    position: relative;
    font-size: 30px;
    /* text-align: center; */
}

.time{
    display: block;
    width: 200px;
    /* height: 150px; */
}

.party{
    height: 50%;
    background: #FF6347;
    /* padding: 10px; */
}

.happy{
    height: 50%;
    padding: 0;
    margin: 0;
}

.content{
    display: grid;
    height: auto;
    grid-column: 1fr 1fr;
    grid-row: 1fr ifr;
    grid-gap: 0;
    background:white; 
}

.card{
    /* grid-area: 1 / 1 / 2 / 2;  */
    float: left;
    padding: 10px;
    margin: 10px;
}

.foodtext{
    display: block;
    /* grid-area: 1 / 2; */
    padding:100px;
}


